:host{
    background-color: #c797e9;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
}

.flex-col{
    flex: 1;
}